<form class="bg-dark-subtle" action="/add" method="post">
    <div class="col-3 mb-3 ms-4">
        <label for="name" class="form-label mt-3">Imie i Nazwisko</label>
        <input type="text" class="form-control" id="Username" name="name">
    </div>
    <div class="col-3 mb-3 ms-4">
        <label for="event" class="form-label">Wydarzenie</label>
        <select class="form-select" name="event">
            <option selected>---</option>
            <option>Full Stack - MERN</option>
            <option>Front End - ReactJS</option>
            <option>Back End - Node.js</option>
        </select>
    </div>
    <div class="col-3 mb-3 ms-4">
        <label for="city" class="form-label">Miasto</label>
        <select class="form-select" name="city">
            <option selected>---</option>
            <option>Online</option>
            <option>Kraków</option>
            <option>Warszawa</option>
        </select>
    </div>
    <div class="ms-4">
        <button class="btn btn-primary mb-3" type="submit">Zapisz na szkolenie</button>
    </div>
</form>
{{#if noname}}
<div class="bg-dark-subtle">
    <p class="text-danger">Wpisz Imie i Nazwisko</p>
</div>
{{/if}}
{{#if noevent}}
<div class="bg-dark-subtle">
    <p class="text-danger">Wybierz szkolenie</p>
</div>
{{/if}}
{{#if nocity}}
<div class="bg-dark-subtle">
    <p class="text-danger">Wybierz miasto</p>
</div>
{{/if}}
{{#if confirm}}
<div class="bg-dark-subtle">
    <h3 class="bg-dark-subtle text-primary">{{message}}</h3>
    <a href="/delete/{{ID}}" class="btn btn-danger mb-3 ms-5">Usuń</a>
    <a href="/" class="btn btn-light mb-3 ms-5">Nie usuwaj</a>
</div>
{{/if}}
<table class="table" id="table">
    <thead>
        <tr>
            <th class="bg-dark text-light" scope="col">Imie i Nazwisko</th>
            <th class="bg-dark text-light" scope="col">Wydarzenie</th>
            <th class="bg-dark text-light" scope="col">Miasto</th>
            <th class="bg-dark text-light" scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        {{#each eventlist}}
        <tr>
            <td class="bg-dark-subtle">{{name}}</td>
            <td class="bg-dark-subtle">{{event}}</td>
            <td class="bg-dark-subtle">{{city}}</td>
            <td class="bg-dark-subtle"><a class="btn btn-danger" href="/delete/confirm/{{_id}}">Usuń</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>