<div class="container">
    <h2>Users List</h2>
    {{#each user}}
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">{{name}} {{username}}</h2>
            <p class="card-text">Street: {{address.street}}</p>
            <p class="card-text">Suite: {{address.suite}}</p>
            <p class="card-text">City: {{address.city}}</p>
            <p class="card-text">ZipCode: {{address.zipcode}}</p>
            <a href="{{website}}">Website: {{website}}</a>
        </div>
    </div>
    {{/each}}
</div>