<div class="container">
    <h2>{{t 'customerList'}}</h2>
    <a href="/customer/add" class="btn btn-success mb-3">{{t 'customerAdd'}}</a>

    {{#each customerlist}}
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Nazwa :{{name}}</h2>
            <p class="card-text">NIP: {{nip}}</p>
            <a href="/customer/{{_id}}?page=1" class="btn btn-primary">Więcej</a>
            <a href="/customer/delete/{{_id}}" class="btn btn-danger btn-bottom-right">Usuń</a>
        </div>
    </div>
    {{/each}}

    <a href="/customer?page={{prevPage}}" class="btn btn-primary {{#equal prevPage 0}}disabled{{/equal}}">{{t 'prevPage'}}</a>
    
    {{#times totalPages}}
    <a href="/customer?page={{this}}">{{this}}</a>
    {{/times}}
     <a href="/customer?page={{nextPage}}" class="btn btn-primary {{#equal nextPage 0}}disabled{{/equal}}">{{t 'nextPage'}}</a>
</div>
<style>
    .card {
        position: relative;
    }

    .card .btn-bottom-right {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
</style>